.body-center, .body-west, .common-center, .common-header {
    background-color: #fff;
}
.body-center {
    overflow: auto;
}
.body-north {
    border-bottom: 1px solid #3f51b5;
}
.body-north, .toolbar-btn .btn:hover, .xtable-toolbar .btn:hover {
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.header {
	background-color: #4b8cf7;
}
.body-north {
    height: 60px;
    z-index: 20;
}
.nav-logo {
	width: auto;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
}
.nav-logo span {
	font-size: 27px;
	color: #FFF;
}
.body-north .nav-username {
    color: #fff;
}
.nav-username {
    margin-top: 25px;
    width: 80px;
    height: 14px;
    text-align: right;
    font-size: 12px;
    color: #777;
    display: inline-block;
}
.user-image{
	margin: 15px 15px;
}
.nav-phono {
    color: #fff;
    margin: 15px 0 15px 15px;
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 90px;
    cursor: pointer;
}
.body-north .user-logout {
    color: #fff;
}
.user-logout {
    cursor: pointer;
    margin-top: 25px;
    margin-left: 15px;
    width: 61px;
    height: 14px;
    text-align: center;
    border-left: 1px solid #d8d5e6;
}
/* 侧边栏 */
.body-west {
    width: 229px;
    border-right: 1px solid #e7e7e7;
    z-index: 25;
    overflow: auto;
    box-shadow: 0 0 4px rgba(0,0,0,.14),2px 4px 8px rgba(0,0,0,.28);
}
.nav-wrap {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
}
.nav-wrap .nav-item {
    height: 20px;
    padding: 15px 15px 15px 0;
    font-size: 14px;
    line-height: 20px;
    font-family: Microsoft Yahei;
    cursor: pointer;
}
.nav-wrap .nav-item i {
    display: inline-block;
}
.nav-wrap .nav-item span {
    float: left;
    margin-left: 10px;
}
.nav-wrap .nav-item .nav-arrow {
    float: right;
}
.nav-wrap .nav-item:hover {
    background-color: #EBECF8;
}
.nav-wrap .nav-icon {
    float: left;
    margin-left: 20px;
    font-size: 16px;
    width: 16px;
    height: 16px;
}
.nav-wrap .nav-child {
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.nav-wrap .nav-child .nav-item {
    padding-left: 36px;
}

/* 正文内容 */
/* 按钮 */
.data-toolbar {
    overflow-y: auto;
    padding: 15px 10px;
}
.data-toolbar button, .data-toolbar input, .data-toolbar select {
    float: left;
    margin-right: 5px;
}
.data-toolbar .btn {
    padding: 6px 15px;
}
.data-toolbar .btn-info {
    background: none;
    background-color: #4b8cf7;
    background-image: none;
    border: 1px solid #4b8cf7;
    color: #fff;
    text-shadow: none;
    filter: none;
}
.toolbar-input {
    width: 150px;
    height: 20px;
    padding: 4px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    float: left;
    margin-right: 5px;
}
/* host */
.hostlist .xtable-noborder .col {
    border-color: #F0F0F0;
}
.body-center label {
    font-size: 16px;
    font-weight: bold;
}
.body-center .title {
    margin: 20px 0px 20px 20px;
}
.form-line {
    clear: both;
    border-bottom: 1px solid #A9A9A9;
}
.line-label {
    float: left;
    width: 10%;
}
.addhost {
    margin-left: 20px;
    padding: 10px 10px;
    border: 1px solid #000;
}
.line-con {
    margin-top: 10px;
    margin-bottom: 10px;
}
.line-con input {
    background: #fff;
    width: 270px;
    height: 20px;
    padding: 5px 10px;
    font-size: 14px;
    outline: 0;
    border: 1px solid #D9D9D9;
    border-top-color: #AAA;
    border-radius: 2px;
}
/* 操作按钮 */
.col-opt {
    font-size: 16px;
    color: #999;
    cursor: pointer;
}
#fm .memo {
    width: 270px;
    padding: 5px 10px;
    overflow: hidden;
    font-size: 14px;
}
.xdialog-footer {
    margin-bottom: 10px;
}

